.audio-player-container{
  display: flex;
  align-items: center;
  width: 700px;
}

.forward-backward{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forward-backward:hover{
  color: #FECD05;
}

.play-pause{
  background-color: #FECD05;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play{
  position: relative;
  left: 1px;
}

.current-time, .duration{
  font-family: monospace;
  font-size: 16px;
}

.current-time{
  margin-left: 25px;
}

.progress-bar{
  --width-before-slider: 0;
  appearance: none;
  background: grey;
  border-radius: 10px;
  width: 100%;
  height: 11px;
  position: relative;
  outline: none;
  cursor: pointer;
  /* width: 0; */
}

.progress-bar::before{
  content: '';
  height: 11px;
  width: var( --width-before-slider);
  background-color: grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* cursor: pointer; */
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: darkslateblue;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.progress-bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: darkgoldenrod;
}

@media all and (max-width:500px){
  .audio-player-container{
    display: flex;
    align-items: center;
    width: 350px;
  }
}
