*{
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

@media all and (max-width: 500px){
 
}

.app-page{
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: fixed;
  z-index: -5;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 100%;
  min-width: 100%;
  opacity: 0.7;
}

button {
  background-color: #2C2629;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  color: wheat;
}