.collection-container{
  height: 90vh;
  margin: 0 2rem;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-navbar{
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.collection-img{
  text-align: center;

  img{
    border-radius: 10px;
  }
}

.collection-podcast-list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: scroll;
  height: 50vh;
}

