.page-background-1{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url('../../../img/math-rblqmwB7kKk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.home-container{
  margin: 0 2rem;
  margin-top: 10vh;
  height: 90vh;
}

.home-inner{
  height: 100px;
  overflow: hidden;
}


.home-inner-wrapper{
  height: 100%;
  
  animation: move 10s ease-in-out infinite alternate;

  h3 {
    height: 100px;
    font-size: 4rem;
  }

  @media screen and (max-width:500px) {
    h3{
      font-size: 2rem;
    }
  }

  @keyframes move {
    33% {
      transform: translateY(-100px);
    }
   66% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(-300px);
    }
  }
}