.collection-list-container{
  border: 1px solid green;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
}

.page-background{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url('../../../img/home5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}