.profile-container{
  margin: 0 2rem;
  margin-top: 10vh;
  height: 90vh;
  border: 1px solid blue;
}

.profile-inner-top{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile-collections-list{
  border: 1px solid red;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.collection-item-container{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  
}

.delete-window{
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 50%;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 30%;
}