.add-collection-container{
  height: 90vh;
  margin: 0 2rem;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
.add-collection-inner{
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;

  input {
    font-size: 2rem;

  }
  div {
    margin: 1rem
  }
  @media screen and (max-width: 500px) {
    font-size: 1rem;
    input {
      font-size: 1rem;
  
    }
  }
}
