.collection-card-container{
  position: relative;
  // border: 1px solid black;
  text-align: center;
}

.collection-card{
  height: 35vh;
  width: 27vh;
  border: 1px solid #000;
  margin: 1rem;
  cursor: pointer; 
  border-radius: 10%;
  background-color: #fff;
  transition: all 0.8s ease-in-out;
  

  &:hover{
    transform: scale(1.05);
  }
}

.collection-card-img{
  height: 80%;
  width: 100%;

  img{
    width: 100%;
    height: 100%;
    border-radius: 10% 10% 0 0 ;
    
  }
}

.collection-card-title{
  text-align: center;
}

.delete-window{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 200px;
  background-color: gold;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 50px;
}