.add-collection-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('../../img/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  border: 1px solid firebrick;
}



.add-collection-inner{
  margin-top: 2rem;
  width: 70vh;
  border: 1px solid sienna;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  /* padding: 5rem; */
  /* color: #fff; */
}

.add-collection-inner-input-div{
  width: 80%;
  color: #fff;
  border: 1px solid black;
  /* padding: 2rem; */
}

.add-collection-inner button{
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.add-collection-inner button:hover{
  color: #FECD05;
}

.add-collection-inner input{
  font-size: 1.6rem;
}