.collection-all-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../img/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.collection-all-inner{
  margin-top: 2vh;
  height: 90vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid teal;
}

.collection-all-navbar{
  height: 8vh;
  /* background-color: #000; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.collection-all-navbar button{
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 1.4rem;
  margin: 0.5rem;
}

.collection-all-navbar button:hover{
  color: #C0643A;
  cursor: pointer;
}