

.home-page{
  background-image: url('../../img/home5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.home-container{
  height: 90vh;
  
  /* display: flex; */
}

.home-inner{
  /* border: 1px solid teal; */
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.home-welcome{
  font-size: 6rem;
  font-family: 'Shadows Into Light', cursive;
}

.home-sub-welcom{
  font-size: 2.5rem;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

/* font-family: 'Festive', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Source Sans Pro', sans-serif; */