.home-podcast-list-page{
  background-image: url('../../img/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}


.home-podcasts-list-container{
 height: 90vh;
  display: flex;
  justify-content: center;
}

.home-podcasts-list-inner{
  border: 1px solid green;
  width: 70vw;
  height: 80vh;
  
}

.home-podcasts-list{
  display: flex;
  flex-wrap: wrap;
}