.login-container{
  height: 90vh;
  display: flex;
  justify-content: center;
}

.login-inner{
  /* border: 1px solid green; */
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  /* gap: 2rem; */
  margin-top: 2rem;
}

.login-inner input{
  font-size: 1.6rem;
}

.login-inner button{
  font-size: 1.6rem;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.login-inner button:hover{
  cursor: pointer;
  color: #C0643A;
}

.message-to-the-user{
  font-size: 1.6rem;
  color: red;
}