.main-navbar{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
}

.main-navbar-inner-links{
  width: 25%;
  display: flex;
}

.main-navbar-inner-links > *:hover{
  color: #000;
}

.main-navbar-inner-links >*{
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}

.main-navbar-inner-brand{
  width: 10%;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 500px){
  .main-navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
  }
  .main-navbar-inner-links{
    border: 1px solid red;
    width: 78%;
    display: flex;
  }

  .main-navbar-inner-links >*{
    margin: 0.3rem;
  }

  .main-navbar-inner-brand{
    border: 1px solid black;
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .main-navbar-inner-brand img{
    width: 100%;
  }
}