.main-navbar{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
}

.main-navbar-inner-links{
  /* border: 1px solid green; */
  width: 25%;
  display: flex;
}

.main-navbar-inner-links > *:hover{
  color: #F1B900;
}

.main-navbar-inner-links >*{
  margin: 1rem;
  text-decoration: none;
  color: #fff;
  /* border: 1px solid white; */
  
}

.main-navbar-inner-brand{
  /* border: 1px solid white; */
  width: 10%;
  display: flex;
  justify-content: center;
}
/* 
margin: 1rem;
border: 1px solid black;
padding: 1rem;
text-decoration: none;
background-color: aquamarine; */