.profile-page{
  background-image: url('../../img/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}


.profile-container{
  height: 90vh;
  display: flex;
  justify-content: center;
}

.profile-inner{
  border: 1px solid green;
  width: 70vw;
  height: 80vh;
}

.profile-collections{
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  
}

.profile-inner-top-container{
  height: 20%;
  display: flex;
  justify-content: center;
}

.profile-inner-top{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid fuchsia;
  font-size: 1.6rem;
}

.profile-inner-top button{
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.profile-inner-top button:hover{
  color: #C0643A;
}

.profile-inner-top-welcome{
  border: 1px solid navy;
  width: 40%;
}