.profile-page{
  background-image: url('../../img/home5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}


.profile-container{
  height: 90vh;
  display: flex;
  justify-content: center;
}

.profile-inner{
  border: 1px solid green;
  height: 90%;
}

.profile-collections{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  
}

.profile-inner-top-container{
  height: 20%;
  display: flex;
  justify-content: center;
}

.profile-inner-top{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid fuchsia; */
  font-size: 1.6rem;
}

.profile-inner-top button{
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.profile-inner-top button:hover{
  color: #FECD05;
}

.profile-inner-top-welcome{
  /* border: 1px solid navy; */
  width: 40%;
}

.collection-preview-delete-btn button{
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.collection-preview-delete-btn button:hover{
  color: #FECD05;
}

@media all and (max-width: 500px){

  .profile-page{
    border: 1px solid black;
    background-image: url('../../img/background_small1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }
  .profile-inner{
    width: 90%;
  }
  .profile-inner-top-container{
    border: 1px solid green;
    height: 50%;
  }

  .profile-inner-top{
    border: 1px solid red;
    width: 100%;
    flex-direction: column;
    color: #fff;
    flex-wrap: wrap;
  }
}

